# these files are added during the makefile build
src/lj_bcdef.h
src/lj_ffdef.h
src/lj_folddef.h
src/lj_libdef.h
src/lj_recdef.h
src/host/buildvm
src/host/buildvm_arch.h
src/host/minilua
src/jit/vmdef.lua
src/lj_vm.S
src/luajit

# cosmo
libcosmo/*
!libcosmo/README.md

# directory stamp
.dirstamp

# Prerequisites
*.d

# Object files
*.o
*.Po
*.Tpo
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.com
*.com.dbg
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
